<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Test Flask App</title>
</head>
<body>
    <h1 style="color:red">Welcome to pur simple flask app</h1>
    <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
        Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
        id varius justo euismod in. Curabitur egestas consectetur magna.</p>
</body>
</html>